<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598567561098-qbtun9un14ahulvd2ikc7j9f2gk64c6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598567561098-qbtun9un14ahulvd2ikc7j9f2gk64c6u</string>
	<key>API_KEY</key>
	<string>AIzaSyByxsm4Eo4p4yVKVXlrskZ_xPnjKxaHy64</string>
	<key>GCM_SENDER_ID</key>
	<string>598567561098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bg.Template.app</string>
	<key>PROJECT_ID</key>
	<string>second-capsule-119910</string>
	<key>STORAGE_BUCKET</key>
	<string>second-capsule-119910.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598567561098:ios:ed8c1812d1572d09</string>
	<key>DATABASE_URL</key>
	<string>https://second-capsule-119910.firebaseio.com</string>
</dict>
</plist>
